@charset "utf-8";
/* 
Author: Chad Williams
Date: 11.7.18
Purpose: To simplify the editing of the dropdown menu's CSS and to seperate it from the main CSS for organizational purposes.
*/

/* Dropdown Button */
/* Caret adds a symbol resembling a dropdown arrow */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropbtn {
    background-color: rgb(0, 64, 128);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn a {
    display: block;
    color: white;
}

/* The container positioning the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gold;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: goldenrod;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: goldenrod;
}